<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/Bootstrap.php"
         cacheDirectory=".phpunit.cache"
		 displayDetailsOnTestsThatTriggerWarnings="true"
		 colors="true"
		 executionOrder="default">
	<extensions>
        <bootstrap class="Tips\Tests\Extension\AfterWork" />
    </extensions>
	<testsuites>
		<testsuite name="default">
			<directory phpVersion="8.3.22" phpVersionOperator=">=">tests</directory>
		</testsuite>
	</testsuites>
	<coverage>
		<report>
			<clover outputFile="docs/coverage.xml"/>
			<html outputDirectory="docs/coverage"/>
		</report>
	</coverage>
	<source>
		<include>
			<directory suffix=".php">src</directory>
		</include>
	</source>
	<logging>
		<junit outputFile="docs/junit.xml" />
	</logging>
	<php>
		<const name="UNITTEST" value="unittest"/>
	</php>
</phpunit>
